<HEAD>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<script
	src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script
	src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</HEAD>
<body>
	<c:set var="contextPath" value="${pageContext.request.contextPath}" />
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="../bmc/home.htm">$user.organ.organName</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="../bmc/home.htm">Work
					Area</a></li>
			<li class="active"><a href="../bmc/info.htm">Data Panel</a></li>
			<li><a href="../user/profile.htm">Profile</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="../user/profile.htm"><span
					class="glyphicon glyphicon-user"></span> $user.username</a></li>
			<li><a href="../logout"><span
					class="glyphicon glyphicon-log-in"></span> Logout</a></li>
		</ul>
	</div>
	</nav>
	<div class="content container">
		#if( $errorMessage )
			<div class="alert alert-danger content" role="alert">
				<h2 class='text-center'>
					<b>${errorMessage}</b>
				</h2>
				<br />
			</div>
		#end
		<h2 class='text-center'>
			<b>Blood inventory</b>
		</h2>
		<br /> <br />
		<div class="row">
			#foreach($bbi in $bbiList)
			<div class="col-md-4"">
				<div class="panel panel-info">
					<div class="panel-heading">$bbi.bbName</div>
					<div class="panel-body databody row">
						<div class="col-md-3 col-xs-3">
                        <p><strong>A:</strong></p>
                        <p><strong>B:</strong></p>
                        <p><strong>AB:</strong></p>
                        <p><strong>O:</strong></p>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <p>${bbi.typea}ml</p>
                        <p>${bbi.typeb}ml</p>
                        <p>${bbi.typeab}ml</p>
                        <p>${bbi.typeo}ml</p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p>$bbi.typearatio</p>
                        <p>$bbi.typebratio</p>
                        <p>$bbi.typeabratio</p>
                        <p>$bbi.typeoratio</p>
                    </div>
					</div>
				</div>
			</div>
			#end
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-offset-9 col-md-2">
						<a href="../bmc/report.xls"
										class="btn btn-success btn-block">Export report</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>